<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_DRM_PROPERTIES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Adventours"
        tools:targetApi="30">
        <activity
            android:name=".ui.tutorial"
            android:exported="false" />
        <activity
            android:name=".ui.new_password"
            android:exported="false" />
        <activity
            android:name=".ui.forgot_password"
            android:exported="false" />
        <activity
            android:name=".ui.verify_otp"
            android:exported="false" />
        <activity
            android:name=".ui.MapsTutorial"
            android:exported="false" />
        <activity
            android:name=".HotelReservationReceipt"
            android:exported="false" />
        <activity
            android:name=".HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyIterinaryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ConfirmationScreen"
            android:exported="false" />
        <activity
            android:name=".ui.RoomDetails"
            android:exported="false" />
        <activity
            android:name=".ui.lists.tours_list_activity"
            android:exported="false" />
        <activity
            android:name=".ui.lists.events_list_activity"
            android:exported="false" />
        <activity
            android:name=".ui.lists.restaurant_lists_activity"
            android:exported="false" />
        <activity
            android:name=".ui.lists.hotel_lists_Activity"
            android:exported="false" />
        <activity
            android:name=".touristspotinfo"
            android:exported="false" />
        <activity
            android:name=".hotelinfo"
            android:exported="false" />
        <activity
            android:name=".termsandcondition"
            android:exported="false" />
        <activity
            android:name=".interestform"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SigninActivity"
            android:exported="false" />
        <activity
            android:name=".start_splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>