<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_DRM_PROPERTIES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Adventours"
        tools:targetApi="30">
        <activity
            android:name=".SetupBiometrics"
            android:exported="false" />
        <activity
            android:name=".changeroomlist"
            android:exported="false" />
        <activity
            android:name=".reservation_details"
            android:exported="false" />
        <activity
            android:name=".toursinfo"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Add your app's Firebase Cloud Messaging receiver -->
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".select_activity"
            android:exported="false" />
        <activity
            android:name=".ui.reservation_history"
            android:exported="false" />
        <activity
            android:name=".ui.reservation_active"
            android:exported="false" />
        <activity
            android:name=".events_info"
            android:exported="false" />
        <activity
            android:name=".ui.selectDay"
            android:exported="false" />
        <activity
            android:name=".RestaurantReservationReceipt"
            android:exported="false" />
        <activity
            android:name=".RestauConfirmationScreen"
            android:exported="false" />
        <activity
            android:name=".restauinfo"
            android:exported="false" />
        <activity
            android:name=".search_screen"
            android:exported="false" />
        <activity
            android:name=".ui.enrollfingerprint"
            android:exported="false" />
        <activity
            android:name=".ui.EnableBiometrics"
            android:exported="false" />
        <activity
            android:name=".push_notifications"
            android:exported="false" />
        <activity
            android:name=".ui.select_itinerary"
            android:exported="false" />
        <activity
            android:name=".ui.itineraryplan"
            android:exported="false" />
        <activity
            android:name=".ui.choosedestination"
            android:exported="false" />
        <activity
            android:name=".ui.newitineraryplan"
            android:exported="false" />
        <activity
            android:name=".musttry_activity"
            android:exported="false" />
        <activity
            android:name=".ui.EditProfile"
            android:exported="false" />
        <activity
            android:name=".ui.rate_us"
            android:exported="false" />
        <activity
            android:name=".ui.about_us"
            android:exported="false" />
        <activity
            android:name=".ui.faqs_activity"
            android:exported="false" />
        <activity
            android:name=".ui.verify_email"
            android:exported="false" />
        <activity
            android:name=".ui.check_reservation"
            android:exported="false" />
        <activity
            android:name=".ui.customize_iterinary"
            android:exported="false" />
        <activity
            android:name=".ui.iterinary_details"
            android:exported="false" />
        <activity
            android:name=".ui.notification_systemupdate"
            android:exported="false" />
        <activity
            android:name=".ui.notification_traveladvisory"
            android:exported="false" />
        <activity
            android:name=".ui.notification_activities"
            android:exported="false" />
        <activity
            android:name=".ui.notification_promotions"
            android:exported="false" />
        <activity
            android:name=".ui.tutorial"
            android:exported="false" />
        <activity
            android:name=".ui.new_password"
            android:exported="false" />
        <activity
            android:name=".ui.forgot_password"
            android:exported="false" />
        <activity
            android:name=".ui.verify_otp"
            android:exported="false" />
        <activity
            android:name=".ui.MapsTutorial"
            android:exported="false" />
        <activity
            android:name=".HotelReservationReceipt"
            android:exported="false" />
        <activity
            android:name=".HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyIterinaryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ConfirmationScreen"
            android:exported="false" />
        <activity
            android:name=".ui.RoomDetails"
            android:exported="false" />
        <activity
            android:name=".ui.lists.tours_list_activity"
            android:exported="false" />
        <activity
            android:name=".ui.lists.events_lists_Activity"
            android:exported="false" />
        <activity
            android:name=".ui.lists.restaurant_lists_activity"
            android:exported="false" />
        <activity
            android:name=".ui.lists.hotel_lists_Activity"
            android:exported="false" />
        <activity
            android:name=".touristspotinfo"
            android:exported="false" />
        <activity
            android:name=".hotelinfo"
            android:exported="false" />
        <activity
            android:name=".termsandcondition"
            android:exported="false" />
        <activity
            android:name=".interestform"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SigninActivity"
            android:exported="false" />
        <activity
            android:name=".start_splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>